# <strong>Trabajo de clase<strong>
    

### <br><strong>Noemí Lizbeth Moreno López</strong>
### 08/23/2019</br>

In [4]:
import numpy as np
import pandas as pd
import requests
import os

In [14]:
url1 = "https://www.indexmundi.com/map/?t=0&v=35&r=xx&l=en"
html1 = requests.get(url1).content
VIH = pd.read_html(html1)[2]

In [15]:
VIH.head()

              0                                       1     2
0       Country  HIV/AIDS - people living with HIV/AIDS  Year
1  South Africa                                 7100000  2018
2       Nigeria                                 3200000  2018
3         India                                 2100000  2018
4    Mozambique                                 1800000  2018

In [16]:
url2 = "https://www.indexmundi.com/map/?t=0&v=25&r=xx&l=en"
html2 = requests.get(url2).content
Birth = pd.read_html(html2)[2]

In [17]:
Birth.head()

         0                                     1     2
0  Country  Birth rate (births/1,000 population)  Year
1   Angola                                    44  2017
2    Niger                                    44  2017
3     Mali                                    44  2017
4   Uganda                                    43  2017

In [18]:
url3 = "https://www.indexmundi.com/map/?t=0&v=26&r=xx&l=en"
html3 = requests.get(url3).content
Death = pd.read_html(html3)[2]

In [19]:
Death.head()

           0                                     1     2
0    Country  Death rate (deaths/1,000 population)  Year
1    Lesotho                                    15  2017
2  Lithuania                                    15  2017
3     Latvia                                    15  2017
4   Bulgaria                                    15  2017